.logs th {
	text-align: center;
}

.logs td.Date {
  font-size: 0.8em;
}

.logs td.Date .day {
  display:none;
}

.logs td.Date .time {
}

.logs td.IP {
  font-size: 0.8em;
}

.logs td.Log {
  font-family: monospace, serif;
  font-size: 0.8em;
  white-space: pre-wrap;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.logs td.Severity {
  font-size: 1em;
  text-align: center;
}

.logs td.Referer {
  font-size: 0.8em;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.logs td.CMD {
  font-size: 0.8em;
}

.logs td.Code {
  font-size: 0.9em;
  text-align: center;
}

.logs td.Size {
  font-size: 0.8em;
  text-align: right;
}

.logs td.μs {
  font-size: 0.8em;
  text-align: right;
}

.logs td.UA {
  font-size: 0.8em;
}

.logs td.URL {
  font-size: 0.8em;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.logs td.User {
  font-size: 0.8em;
}

/* New log color on the row */
.newlog td:first-child {
  background-position: 0 0;
  background-image:url(../img/1x1pink_low.gif);
  background-size: 1px 100%;
  background-repeat: no-repeat;
}
