
.logs th {
	text-align: center;
}

.logs td.Date {
  font-size: 0.8em;
}

.logs td.Date .day {
  display:none;
}

.logs td.Date .time {
}

.logs td.IP {
  font-size: 0.8em;
}

.logs td.Log {
  font-family: monospace, serif;
  font-size: 0.8em;
  white-space: pre;           /* CSS 2.0 */
  white-space: pre-wrap;      /* CSS 2.1 */
  white-space: pre-line;      /* CSS 3.0 */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap;  /* HP Printers */
  word-wrap: break-word;      /* IE 5+ */
}

.logs td.Severity {
  font-size: 0.8em;
}

.logs td.Referer {
  font-size: 0.8em;
  white-space: pre;           /* CSS 2.0 */
  white-space: pre-wrap;      /* CSS 2.1 */
  white-space: pre-line;      /* CSS 3.0 */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap;  /* HP Printers */
  word-wrap: break-word;      /* IE 5+ */
}

.logs td.CMD {
  font-size: 0.8em;
}

.logs td.Code {
  font-size: 0.9em;
}

.logs td.Size {
  font-size: 0.8em;
}

.logs td.UA {
  font-size: 0.8em;
}

.logs td.URL {
  font-size: 0.8em;
  white-space: pre;           /* CSS 2.0 */
  white-space: pre-wrap;      /* CSS 2.1 */
  white-space: pre-line;      /* CSS 3.0 */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap;  /* HP Printers */
  word-wrap: break-word;      /* IE 5+ */
}

.logs td.User {
  font-size: 0.8em;
}
