$gray-darker                      : lighten(#000, 13.5%); // #222
$gray-dark                        : lighten(#000, 20%);   // #333
$gray                             : lighten(#000, 33.5%); // #555
$gray-light                       : lighten(#000, 46.7%); // #777
$gray-lighter                     : lighten(#000, 93.5%); // #eee
$grid-float-breakpoint            : 992px;
$font-size-base                   : 14px;
$brand-primary                    : #6C5196;
$link-color                       : #428bca;
$link-hover-color                 : $brand-primary;
$navbar-inverse-color             : $gray-light;
$navbar-inverse-bg                : #33333f;
$navbar-inverse-border            : darken($navbar-inverse-bg, 10%);
$navbar-inverse-link-color        : $gray-light;
$navbar-inverse-link-hover-color  : $gray-lighter;
$navbar-inverse-link-active-color : $navbar-inverse-link-hover-color;
$navbar-inverse-link-active-bg    : darken($navbar-inverse-bg, 10%);
$navbar-inverse-brand-color       : $navbar-inverse-link-color;
$font-family-sans-serif           : 'ubuntulight', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-monospace            : 'ubuntu_monoregular', Menlo, Monaco, Consolas, "Courier New", monospace;
$blockquote-font-size             : $font-size-base;


@import "../css/includes/fonts";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "../css/includes/tricks";
@import "../css/includes/buttons";
@import "../css/includes/header";

// Add padding to body to move the main content on bottom of header bar
body {
	padding-top    : 50px;
	padding-bottom : 20px;
}

// Used when user select a wide view
.containerwide {
	margin-left : 2%;
	max-width   : 96%;
}

// Result window when exporting
// You can overwrite the max-height css parameter to change the visible height
.exportresult {
	height     : auto;
	max-height : 200px;
	overflow-x : hidden;
	overflow-y : auto;
}


// Big design for configuration part
.jumbotronflat {
	padding          : 10px;
	margin           : 0!important;
	color            : $jumbotron-color;
	background-color : $jumbotron-bg;

	.progress {
		margin: 0;
	}
}

// Debugger test box
textarea.test {
	font-family : monospace, serif;
}

// Used for the export result
.hyphen {
	white-space     : pre-wrap;
	-ms-word-break  : break-all;
	word-break      : break-all;
	word-break      : break-word;
	-webkit-hyphens : auto;
	-moz-hyphens    : auto;
	hyphens         : auto;
}
