/* Refresh button */
.loader {
	padding-left: 40px;
}
@media (max-width: 767px) {
	.loader {
		padding-left: 130px;
	}
}

/* Retina logo */
.logo {
	position: absolute;
	left: 7px;
	top: 7px;
   	background: url(../img/icon_036.png) no-repeat;
	background-size: 36px 36px;
   	width: 36px;
   	height: 36px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
 only screen and (-o-min-device-pixel-ratio: 3/2),
 only screen and (min--moz-device-pixel-ratio: 1.5),
 only screen and (min-device-pixel-ratio: 1.5) {
	.logo{
    	background: url(../img/icon_072.png) no-repeat;
		background-size: 36px 36px;
	}
}

/* Reset button in search */
.clearable {
	background-image:url(../img/inputclear.png);
	background-repeat:no-repeat;
	background-position: right -10px center;
	transition: background 0.4s;
}
.clearable.x {
	background-position: right 5px center;
}
.clearable.onX {
	cursor:pointer;
}
