$gray-darker                      : lighten(#000, 13.5%); // #222
$gray-dark                        : lighten(#000, 20%);   // #333
$gray                             : lighten(#000, 33.5%); // #555
$gray-light                       : lighten(#000, 46.7%); // #777
$gray-lighter                     : lighten(#000, 93.5%); // #eee
$grid-float-breakpoint            : 992px;
$font-size-base                   : 14px;
$brand-primary                    : #6C5196;
$link-color                       : #428bca;
$link-hover-color                 : $brand-primary;
$navbar-inverse-color             : $gray-light;
$navbar-inverse-bg                : #33333f;
$navbar-inverse-border            : darken($navbar-inverse-bg, 10%);
$navbar-inverse-link-color        : $gray-light;
$navbar-inverse-link-hover-color  : $gray-lighter;
$navbar-inverse-link-active-color : $navbar-inverse-link-hover-color;
$navbar-inverse-link-active-bg    : darken($navbar-inverse-bg, 10%);
$navbar-inverse-brand-color       : $navbar-inverse-link-color;
$font-family-sans-serif           : 'ubuntulight', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-monospace            : 'ubuntu_monoregular', Menlo, Monaco, Consolas, "Courier New", monospace;

@font-face {
    font-family: 'ubuntu_monoregular';
    src: url('../fonts/ubuntumono-r-webfont.eot');
    src: url('../fonts/ubuntumono-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntumono-r-webfont.woff2') format('woff2'),
         url('../fonts/ubuntumono-r-webfont.woff') format('woff'),
         url('../fonts/ubuntumono-r-webfont.ttf') format('truetype'),
         url('../fonts/ubuntumono-r-webfont.svg#ubuntu_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntulight';
    src: url('../fonts/ubuntu-l-webfont.eot');
    src: url('../fonts/ubuntu-l-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-l-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-l-webfont.woff') format('woff'),
         url('../fonts/ubuntu-l-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-l-webfont.svg#ubuntulight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

.btn-menu {
	display          : inline-block;
	margin-bottom    : 0;
	font-weight      : $btn-font-weight;
	text-align       : center;
	vertical-align   : middle;
	cursor           : pointer;
	background-image : none;
	border           : 1px solid transparent;
	white-space      : nowrap;
	text-transform   : uppercase;
	@include button-size( 5px , 10px , $font-size-base, $line-height-base, 3px);
	@include user-select(none);
	padding-top    : 4px!important;
	padding-bottom : 5px!important;

	&:hover {
		text-decoration: none;
	}
}

.btn {
	text-transform : uppercase;
	font-size      : 1em;
	font-size      : 1em;
	line-height    : 2em;
	padding-left   : 1.5em;
	padding-right  : 1.5em;
}

// Pull to refresh under header and mobile menu
.hook {
	z-index: 999!important;
}

// Sort table jquery plugin
div.th-inner.sortable {
	color : $link-color;
}

th a:hover, div.th-inner.sortable:hover {
	text-decoration : none;
	color           : $brand-primary;
}

code {
	font-size: 100%;
}

.dropdown-menu {
  > li > a {
    display: block;
    padding: 5px 20px;
  }
}

.jumbotronflat {
	padding          : 10px;
	margin           : 0!important;
	color            : $jumbotron-color;
	background-color : $jumbotron-bg;

	.progress {
		margin: 0;
	}
}

/*
Override the success color for input.
This class is used in the search input field when a regular expression is detected
*/
.has-success .form-control {
	border-color       : #ff00ff;
	-webkit-box-shadow : inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #8822ff;
	   -moz-box-shadow : inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #8822ff;
	        box-shadow : inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #8822ff;
}
.has-success .form-control:focus {
	border-color       : #ff00ff;
	-webkit-box-shadow : inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px #8800ff;
	   -moz-box-shadow : inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px #8800ff;
	        box-shadow : inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px #8800ff;
}


body {
	padding-top    : 50px;
	padding-bottom : 20px;
}


/* Refresh button */
.loader {
	margin-left : 40px;
	width       : 20px;
	@media (max-width : 767px) {
		margin-left : 130px;
	}
}


/* Retina logo */
.logo {
	position : absolute;
	left     : 7px;
	top      : 7px;
	width    : 36px;
	height   : 36px;
	cursor   : pointer;
	z-index  : 10000;

	background      : url(../img/icon36.png) no-repeat;
	background-size : 36px 36px;

	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
			only screen and (-o-min-device-pixel-ratio: 3/2),
			only screen and (min--moz-device-pixel-ratio: 1.5),
			only screen and (min-device-pixel-ratio: 1.5) {
		background      : url(../img/icon72.png) no-repeat;
		background-size : 36px 36px;
	}
}

.cogmenu li, .thmenu li {
	padding-bottom: 2px;
	text-align: left;
}

.containerwide {
	margin-left : 2%;
	max-width   : 96%;
}

.cogon {
	color: $brand-success!important;
}

.cogoff {
	color: $brand-danger!important;
}

.thmenuon {
	color: $brand-success!important;
}

.thmenuoff {
	color: $brand-danger!important;
}

textarea.test {
	font-family : monospace, serif;
}


/* Reset button in search */
.clearable {
	background-image    : url(../img/inputclear.png);
	background-repeat   : no-repeat;
	background-position : right -10px center;
	transition          : background 0.4s;
}
.clearable.x {
	background-position : right 5px center;
}
.clearable.onX {
	cursor : pointer;
}

.hyphen {
	white-space     : pre-wrap;
	-ms-word-break  : break-all;
	word-break      : break-all;
	word-break      : break-word;
	-webkit-hyphens : auto;
	-moz-hyphens    : auto;
	hyphens         : auto;
}

/* IE8 Compat for menu popover */
.navbar {
	filter : none !important;
}

/* Spinning class from awesome fonts */
.icon-spin {
	-webkit-animation: kf-spin 2s infinite linear;
			animation: kf-spin 2s infinite linear;
}
@-webkit-keyframes kf-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes kf-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}


