# Folder view configuration files
.DS_Store
Desktop.ini
._*
Thumbs.db
*.swp
.Spotlight-V100
.Trashes
/.sass-cache

# Branch master old
/config.inc.php
/config.inc.php.tmp

/inc/test.REMOVE_UPPERCASE.php
*.user.php
*.user.css
*.user.json
*.user.json.tmp
/config.user.d/*
/_site
/_build
/_tmp
/dist
/fonts

# Application specific files
/node_modules
/bower_components
/Gemfile.lock
