# Folder view configuration files
.DS_Store
Desktop.ini
._*
Thumbs.db
*.swp
.Spotlight-V100
.Trashes
/.sass-cache
*.user.php
*.user.css
*.user.json
*.user.json.tmp
test.REMOVE_UPPERCASE.php
/config.user.d/*
/_build
/_build
/_site
/_tmp
/dist
/fonts

# Application specific files
/node_modules
/bower_components
/vendor
