# Folder view configuration files
.DS_Store
Desktop.ini
._*
Thumbs.db
*.swp
.Spotlight-V100
.Trashes
.cli_fake_session
_cli_fake_session

/.sass-cache
/*.user.php
/*.user.css
/*.user.json
/*.user.json.tmp
/inc/test.REMOVE_UPPERCASE.php
/inc/test.PLEASE_REMOVE_ME.*
/config.user.d/*
/_build
/_build
/_site
/_tmp
/dist

# Application specific files
/node_modules
/bower_components
/vendor
