<a type="button" class="btn btn-sm btn-warning orangebutton" href="{{ site.data.github.zip }}"><span class="glyphicon glyphicon-cloud-download"></span> ZIP</a>
<a type="button" class="btn btn-sm btn-warning orangebutton" href="{{ site.data.github.proj }}"><span class="glyphicon glyphicon-eye-open"></span> GitHub</a>
<a type="button" class="btn btn-sm btn-warning orangebutton" href="{{ site.data.github.tar }}"><span class="glyphicon glyphicon-download"></span> TAR</a>
<br/>
<table class="pmlversionblock">
	<tr>
		<td width="50%" align="right">
			<span class="badge pmlversion pmlversionctn"></span>
		</td>
		<td width="50%" align="left">
			<iframe src="/github-btn.html?user=potsky&repo=PimpMyLog&type=watch&count=true" class="ghstar" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
		</td>
	</tr>
</table>
