<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="/assets/apple-touch-icon.png" />
<link rel="apple-touch-icon" sizes="57x57" href="/assets/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="60x60" href="/assets/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/assets/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-touch-icon-152x152.png" />
<link href="{{ site.production_url }}{{ site.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed"/>
<link href="{{ site.production_url }}{{ site.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed"/>
<link href="//fonts.googleapis.com/css?family=Lato:400,500,600" rel="stylesheet" type="text/css"/>
