@import 'bootstrap.less';

/* Retina logo */
.logo {
	position: absolute;
	left: 4px;
	top: 4px;
   	background: url(../assets/icon36.png) no-repeat;
	background-size: 36px 36px;
   	width: 36px;
   	height: 36px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
 only screen and (-o-min-device-pixel-ratio: 3/2),
 only screen and (min--moz-device-pixel-ratio: 1.5),
 only screen and (min-device-pixel-ratio: 1.5) {
	.logo{
    	background: url(../assets/icon72.png) no-repeat;
		background-size: 36px 36px;
	}
}

.jborange {
	background-color: #e55330;
	color: #fff;
}

.jbgray {
	background-color: #3a4353;
	color: #fff;
}

.breaklonglines {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	pre {
		display: block;
		width: auto;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		white-space: pre;
		word-wrap: normal;
	}
	pre code {
		-webkit-hyphens: none!important;
		-moz-hyphens: none!important;
		hyphens: none!important;
		white-space: inherit;
	}
}
