.DS_Store
Desktop.ini
._*
Thumbs.db
*.swp
.Spotlight-V100
.Trashes

toto
/config.inc.php
/config.inc.php.tmp
/todo.*.todo
/inc/test.REMOVE_UPPERCASE.php
*.user.php
*.user.css
*.user.json
*.user.json.tmp
/config.user.d/*

/_site
/_build
/_tmp
*.pyc
/node_modules
/bower_components
/vendor
/Gemfile.lock
/composer.lock
