<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="{{ site.description }}">
		<meta name="viewport" content="width=device-width">
		<style>
			body {
				padding-top: 60px;
				padding-bottom: 20px;
			}
		</style>
		<title>[{{ site.title }}] {{page.title}} </title>
		{% include favicon.html %}

		{% if site.env == 'prod' %}
			<link rel="stylesheet" href="/dist/global.min.css">
		{% else %}
			<link rel="stylesheet" href="/dist/global.css">
		{% endif %}

		{% include google_analytics.html %}
	</head>
	<body>
	<!--[if lt IE 7]>
	<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
	<![endif]-->
	{% include menu.html %}

	<div class="container">
		{{content}}
		<hr>
		<footer>
			{% include footer.html %}
		</footer>
	</div> <!-- /container -->

    {% if site.env == 'prod' %}
      <script src="/dist/global.min.js"></script>
    {% else %}
      <script src="/dist/global.js"></script>
    {% endif %}

	</body>
</html>
