<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<title>{{ page.title }}</title>

	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="css/pygment_trac.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>
<body>
	<div class="wrapper">
		<header>
			<center><img src="assets/PML.png"/></center>
			<p>Log viewer for your web server</p>

			<p class="view"><a href="https://github.com/potsky/PimpMyLog">View the Project on GitHub <small>potsky/PimpMyLog</small></a></p>

			<ul>
				<li><a href="https://github.com/potsky/PimpMyLog/zipball/master">Download <strong>ZIP File</strong></a></li>
				<li><a href="https://github.com/potsky/PimpMyLog/tarball/master">Download <strong>TAR Ball</strong></a></li>
				<li><a href="https://github.com/potsky/PimpMyLog">View On <strong>GitHub</strong></a></li>
			</ul>
		</header>
		<section>
			{{content}}
		</section>
		<footer>
 			<p>&copy; {{ site.time | date: '%Y' }} <a href="{{ site.author.link }}">{{ site.author.name }}</a></p>
		</footer>
	</div>
	<script src="js/scale.fix.js"></script>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
			var pageTracker = _gat._getTracker("UA-44146210-2");
			pageTracker._trackPageview();
		} catch(err) {}
	</script>

</body>
</html>
