<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		{% include header.html %}
		{% include css.html %}
		{% include js_header.html %}
		{% include google_analytics.html %}
	</head>
	<body>
	<!--[if lt IE 7]>
	<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
	<![endif]-->
	{% include menu.html %}

	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4"><center><img src="/assets/PML.png" class="img-responsive"/></center></div>
				<div class="hidden-xs  hidden-sm  hidden-md  visible-lg col-ld-8  text-center">
					<h1>{{ site.title }}</h1>
					<h4>{{ site.description }}</h4>
					<a type="button" class="btn btn-sm btn-warning" href="https://github.com/potsky/PimpMyLog/zipball/master"><span class="glyphicon glyphicon-cloud-download"></span> ZIP</a>
					<a type="button" class="btn btn-sm btn-warning" href="https://github.com/potsky/PimpMyLog/tarball/master"><span class="glyphicon glyphicon-download"></span> TAR</a>
					<a type="button" class="btn btn-sm btn-warning" href="https://github.com/potsky/PimpMyLog"><span class="glyphicon glyphicon-eye-open"></span> GitHub</a>
					<br/>
					<span class="badge pmlversion"></span>
				</div>
				<div class="hidden-xs  hidden-sm  visible-md hidden-lg  col-md-8  text-center">
					<h2>{{ site.title }}</h2>
					<h5>{{ site.description }}</h5>
					<a type="button" class="btn btn-sm btn-warning" href="https://github.com/potsky/PimpMyLog/zipball/master"><span class="glyphicon glyphicon-cloud-download"></span> ZIP</a>
					<a type="button" class="btn btn-sm btn-warning" href="https://github.com/potsky/PimpMyLog/tarball/master"><span class="glyphicon glyphicon-download"></span> TAR</a>
					<a type="button" class="btn btn-sm btn-warning" href="https://github.com/potsky/PimpMyLog"><span class="glyphicon glyphicon-eye-open"></span> GitHub</a>
					<br/>
					<span class="badge pmlversion"></span>
				</div>
				<div class="hidden-xs  visible-sm hidden-md  hidden-lg  col-sm-6 text-center">
					<h3>{{ site.title }}</h3>
					<h6>{{ site.description }}</h6>
					<a type="button" class="btn btn-sm btn-warning" href="https://github.com/potsky/PimpMyLog/zipball/master"><span class="glyphicon glyphicon-cloud-download"></span> ZIP</a>
					<a type="button" class="btn btn-sm btn-warning" href="https://github.com/potsky/PimpMyLog/tarball/master"><span class="glyphicon glyphicon-download"></span> TAR</a>
					<a type="button" class="btn btn-sm btn-warning" href="https://github.com/potsky/PimpMyLog"><span class="glyphicon glyphicon-eye-open"></span> GitHub</a>
					<br/>
					<span class="badge pmlversion"></span>
				</div>
				<div class="visible-xs hidden-sm  hidden-md  hidden-lg  col-xs-12 text-center">
					<h2>{{ site.title }}</h2>
					<h6>{{ site.description }}</h6>
					<a type="button" class="btn btn-sm btn-warning" href="https://github.com/potsky/PimpMyLog"><span class="glyphicon glyphicon-eye-open"></span> View on GitHub</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container">

		<div class="media">
		    <img class="pull-left media-object img-responsive" src="assets/icon-browser.png" style="width:78px;"/>
			<div class="media-body">
				<h4 class="media-heading">{{ page.icon1title }}</h4>
				{{ page.icon1 }}
			</div>
		</div>

		<div class="media">
		    <img class="pull-left media-object img-responsive" src="assets/icon-notes.png" style="width:78px;"/>
			<div class="media-body">
				<h4 class="media-heading">{{ page.icon2title }}</h4>
				{{ page.icon2 }}
			</div>
		</div>

		<div class="media">
		    <img class="pull-left media-object img-responsive" src="assets/icon-notifications.png" style="width:78px;"/>
			<div class="media-body">
				<h4 class="media-heading">{{ page.icon3title }}</h4>
				{{ page.icon3 }}
			</div>
		</div>

	</div>

	<div class="jumbotron jborange">
		<div class="container">
		<div class="row">
		{{content}}
		</div>
		</div>
	</div>

	<div class="container">
		<footer>
			{% include footer.html %}
		</footer>
	</div>

	{% include js_footer.html %}

	</body>
</html>
