<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		{% include header.html %}
		{% include css.html %}
		{% include js_header.html %}
		{% include google_analytics.html %}
	</head>

	<body>
	<!--[if lt IE 9]>
	<br/>
	<div class="alert alert-danger"><h4>
	<p class="chromeframe text-center">You are using an <strong>outdated</strong> browser.<br/>Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to view this site.</p>
	</h4></div>
	<![endif]-->
	<!--[if gte IE 9 | !IE ]><!-->
	{% include menu.html %}
	<!--
	<![endif]-->

	<div class="jumbotron">
		<div class="container">
			<div class="row">
				{% include home_jumbo_1head.html %}
			</div>
		</div>
	</div>

	<div class="jumbotron jbgray">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					{% capture md %}{% include home_jumbo_2introduction.md %}{% endcapture %}{{ md | unindent | markdownify }}
				</div>
				<div class="col-md-6">
					<div class="text-center">
						<a type="button" class="btn btn-sm btn-warning orangebutton" href="/getting-started/screenshots.html"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;&nbsp;Screenshots</a>
						<a type="button" class="btn btn-sm btn-warning orangebutton" href="http://demo.pimpmylog.com"><span class="glyphicon glyphicon-star"></span>&nbsp;&nbsp;&nbsp;Demo</a>
						<a type="button" class="btn btn-sm btn-warning orangebutton" href="/getting-started/quick-start.html"><span class="glyphicon glyphicon-flash"></span>&nbsp;&nbsp;&nbsp;Quick start</a>
					</div>
					<br/>
					<h5>Install with composer</h5>
					<pre><code>composer require "potsky/pimp-my-log"</code></pre>
					<h5>Install with git</h5>
					<pre><code>git clone https://github.com/potsky/PimpMyLog.git</code></pre>
				</div>
			</div>
		</div>
	</div>

	<div class="jumbotron jborange">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					{% capture md %}{% include home_jumbo_3features1.md %}{% endcapture %}
					{{ md | unindent | markdownify | replace:'<ul>','<ul class="fa-ul">' | replace:'[:','<i class="fa-li fa fa-' | replace:':]','"></i>' }}
				</div>
				<div class="col-lg-4">
					{% capture md %}{% include home_jumbo_3features2.md %}{% endcapture %}
					{{ md | unindent | markdownify | replace:'<ul>','<ul class="fa-ul">' | replace:'[:','<i class="fa-li fa fa-' | replace:':]','"></i>' }}
				</div>
				<div class="col-lg-4">
					{% capture md %}{% include home_jumbo_3features3.md %}{% endcapture %}
					{{ md | unindent | markdownify | replace:'<ul>','<ul class="fa-ul">' | replace:'[:','<i class="fa-li fa fa-' | replace:':]','"></i>' }}
				</div>
			</div>
		</div>
	</div>

	<div class="jumbotron jbgray">
		<div class="container">
			<div class="row">
				{{content}}
			</div>
		</div>
	</div>

	<div class="container">
		<center><img src="/assets/madeinfrance.png" class="img-responsive" style="width:128px;"/><br/>Made in European Union</center>
		<hr/>
		<footer>
			{% include footer.html %}
		</footer>
	</div>

	{% include js_footer.html %}

	</body>
</html>
